<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" href="/img/logos/logo.ico" sizes="any">
  <script src="/js/libs/minimalistIndicator.js" nonce="<%= nonce %>"></script>
  <script src="/js/libs/dialogConfirm.js" nonce="<%= nonce %>"></script>
  <script src="/js/libs/mintAlerts.js" nonce="<%= nonce %>"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
   <link href="/css/task/stylesTask.css" rel="stylesheet"> 
  <script src="/js/bot/chatBot.js" nonce="<%= nonce %>"></script>
  <script src="/js/task/taskInit.js" nonce="<%= nonce %>"></script>
  <title>
    <%= title %>
  </title>
</head>
<body>
  <%- body %> <!-- Aquí se insertará el contenido de cada vista -->
</body>
 <script src="/js/task/task.js" nonce="<%= nonce %>"></script>
</html>